apiVersion: v1
kind: Service
metadata:
  name: devops-app
spec:
  type: LoadBalancer
  selector:
    app: devops-app
  ports:
    - name: http
      port: 80
      targetPort: 5000
      protocol: TCP
